.header__lang-link {
  justify-self: end;
  align-self: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  text-align: right;
  padding-top: calc(46px - 28px);


}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

@media screen and (max-width: 320px) {
.header__lang-link {
  font-size: 18px;
  line-height: 20px;
  padding-top: calc(30px - 16px);
}
}
