.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'sans-serif';
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Делаем липкий футер задаем минимальную область веб-страницы - весь экран, задаем возможность
  управления поведением блоками content и footer через flex box   */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
