.places {
  margin: 0;
  padding: 92px 148px 92px 148px;

}

@media screen and (max-width: 1100px) {
  .places {
    padding: 92px 48px 92px 48px;
  }

}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px;
  }

}

@media screen and (max-width: 615px) {
  .places {
    padding: 64px 0 66px;
  }

}
