.cover__subtitle {
  margin: 0;
  max-width: 360px;
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}



@media screen and (max-width: 360px) {
  .cover__subtitle {
    max-width: 288px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 33px;
    text-align: center;
    min-height: 48px;

  }

}
