.header__logo {
  width: 176px;
  height: 52px;
  object-fit: cover;
  object-position: center;
  justify-self: start;
  align-self: start;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
