.header {
  min-height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 18px;
  background: url('../../images/header__logo.svg') no-repeat;
  background-size: 176px 52px;
  background-position: top 28px left 48px;
  padding: 28px 48px 0;
}
