.header {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  justify-items: flex-end;
  align-items: flex-end;
  gap: 18px;
  padding: 28px 48px 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
    /* background-position: top 28px left 24px; */
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 0;
    /* background-position: top 16px left 16px;
    background-size: 142px 42px;
    min-height: 42px; */

  }
}
