.lead__title {
  max-width: 720px;
  min-height: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;

}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
