.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  /* text-align: right; */
  padding-left: 30px;
}

@media screen and (max-width: 727px) {
  .footer__copyright {
    line-height: 14px;
    padding-left: 0;



  }
}
