.place_height_carelia {
  min-height: 584px;
}

@media screen and (max-width: 1024px) {
  .place_height_carelia {
    min-height: 564px;

  }

}

@media screen and (max-width: 768px) {
  .place_height_carelia {
    min-height: 200px;

  }

}



