.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  align-self: flex-start;
  margin: 0;
}
