.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  row-gap: 24px;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Футер, не сжимайся */
  flex-shrink: 0;


}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
    row-gap: 48px;

  }

}

@media screen and (max-width: 492px) {
  .footer {
    padding: 64px 16px 24px;
    flex-direction: column;
  }

}

