.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  .place_url-heading {
    line-height: 12px;
  }

}

@media screen and (max-width: 320px) {
  .place_url-heading {

    line-height: 12px;
    max-width: 288px;
    
  }

}

